.container{
  background-color:yellow;
  height:1000px;
}

.col-md-2{
  background-color:blue;
  height:50px;
}

.black{
  background-color:black;
}

.small{
  height:30px;
}

.medium{
  height:70px;
}

.large{
  height:150px;
}

.xlarge{
  height:350px;
}

.buffer{
  margin-right:48px;
}

.top-buffer{
  margin-top:25px;

}

.small-buffer{
  margin-bottom:35px;
}

.medium-buffer{
  margin-bottom:55px;
}

.large-buffer{
  margin-bottom:65px;
}
